{{define "layoutTop"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="/backend/layui/css/layui.css">
    <link rel="stylesheet" href="/backend/css/style.css">
    <link rel="icon" href="/backend/images/code.png">
    <script type="text/javascript" src="/backend/layui/layui.js"></script>
</head>
<body class="login-body body">
{{end}}
